aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.4.0
autopep8==1.6.0
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
Deprecated==1.2.13
discord==1.7.3
discord.py==1.7.3
distlib==0.3.4
filelock==3.6.0
Flask==2.0.3
googletrans==3.1.0a0
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.12.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
multidict==6.0.2
mysql-connector==2.2.9
packaging==21.3
platformdirs==2.5.1
pycodestyle==2.8.0
pyparsing==3.0.7
python-dotenv==0.19.2
redis==4.2.0
requests==2.27.1
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
toml==0.10.2
typing_extensions==4.1.1
urllib3==1.26.9
virtualenv==20.13.2
Werkzeug==2.0.3
wrapt==1.14.0
yarl==1.7.2